* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  min-height: 100dvh;
  background-color: #faf6ff;
}

nav > * {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-inline: 1rem;
  min-height: 4rem;
}
nav ul {
  display: flex;
  gap: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #805ddc;
}



.main {
  height: calc(100dvh - 4rem);
  display: grid;
  place-items: center;
}
.dashboard {
  display: grid;
  grid-template-columns: 360px 1fr;
  grid-template-rows: 4rem 1fr;
}
.dashboard nav {
  grid-row: 1;
  grid-column: 2;
}
.dashboard aside {
  grid-row: 2 span;
  grid-column: 1;
  height:100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 2rem;
  background-color: rgb(254, 251, 255);
}
.dashboard .aside__top {
  display: grid;
  place-content: center;
  padding-block: 1rem;
}
.dashboard .aside__center {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding-block: 2rem;
}

.dashboard .aside__bottom {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding-block: 2rem;
}

.aside__center a,
.aside__bottom a {
  display: flex;
  padding: 1rem;
  border-radius: .5rem;
  font-size: 1.125rem;
}
aside a.active {
  background-color: #805ddc;
  color: white;
}

.dashboard main {
  grid-row: 2;
  grid-column: 2;
  display: grid;
  place-content: center;
}

.container {
  display: grid;
  row-gap: 3rem;
  max-width: 380px;
  width: 100%;
}

h1, h2 {
  text-align: center;
}


form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  position: relative;
}
input {
  font-size: 1.125rem;
  border: 1.5px solid rgb(186, 186, 186);
  padding: .725rem 1rem;
  border-radius: .5rem;
  background-clip: border-box;
  outline: none;
}

input:focus-visible,
input:focus {
  border-color: #bc66c8;
}

button {
  appearance: none;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  font-weight: bold;
}

.btn {
  padding: 1rem;
  font-size: 1.125rem;
  border-radius: .5rem;
  color: white;
  background-image: linear-gradient(to right, #bc66c8, #805ddc);
  }

.btn-signin {
  padding: .725rem 1rem;
  border-radius: .5rem;
  border: 2px solid #805ddc;
  color: #805ddc;
  font-size: 1em;
}

.error {
  position: absolute;
  bottom: 2rem;
  color: crimson;
}
.redirect {
  margin-top: 2rem;
}

.page404 h1{
  font-size: 7em;
}

.page404 p {
  color: grey;
  font-size: 1.125em;
  text-align: center;
}
.page404 p:nth-of-type(2) {
  padding-block-start: 1rem;
}
