<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title>Document</title>
</head>

<body>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/signin">Sign In</a></li>
      <li><a href="/signup" class="btn-signin">Sign Up</a></li>
    </ul>
  </nav>

  <main class="main">
    <div class="page404">
      <h1>404</h1>
      <p>Page Not Found</p>
      <p>Back to <a href="/"> Home</a></p>
    </div>
  </main>

</body>

</html>
