<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title><%= title%></title>
</head>

<body class="dashboard">

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li> <button class="btn-signin"><%= user %></button> </li>
    </ul>
  </nav>

  <aside>
    <div class="aside__top">
      <h2>Hello <%= user %></h2>
    </div>
    <ul class="aside__center">
      <li><a href="/dashboard" class="active">Dashboard</a></li>
      <li><a href="/analytics">Analytics</a></li>
      <li><a href="/manage">Manage</a></li>
      <li><a href="/settings">Settings</a></li>
      <li><a href="/support">Support</a></li>
    </ul>

    <form action="/signout" method="post" class="aside__bottom">
      <button type="submit" class="btn-signin">Sign Out</button">
    </form>
  </aside>

  <main>
    <div class="container">
      <h1>Your <%= title%></h1>
    </div>
  </main>

</body>

</html>
