<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title><%= title%></title>
</head>

<body class="dashboard">

  <nav>
    <ul>
      <!-- <li><a href="/">Home</a></li> -->
      <li>
        <button class="btn-signin"><%= user %></button>
      </li>
    </ul>
  </nav>

  <aside>
    <div class="aside__top">
      <h2>Eiffers</h2>
      <h3>Welcome: <%= user %></h3>
    </div>

    <ul class="aside__center">
      <li><a href="/dashboard" class="active">Dashboard</a></li>
      <li><a href="/chat">Eiffels Chat</a></li>
      <li><a href="/marketplace">Marketplace</a></li>
      <li><a href="/file-manager">File Manager</a></li>
      <li><a href="/sessions">Sessions</a></li>
    </ul>

    <ul class="aside__bottom">
      <li><a href="/documentation">Documentation</a></li>
      <li><a href="/support">Support</a></li>
      <li><a href="/share-referral">Share referral</a></li>
      <form action="/signout" method="post" class="aside__bottom">
        <button type="submit" class="btn-signin">Sign Out</button">
      </form>
    </ul>
  </aside>

  <main>
    <div class="container">
      <h1>Your <%= title%></h1>
    </div>
  </main>

</body>

</html>
